# --- General ---
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
node_modules/
dist/
coverage/

# --- IDEs / Editors ---
.idea/
.vscode/
*.swp
*.swo

# --- Python ---
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.pytest_cache/
.mypy_cache/
.pyre/
.tox/

# Python Virtual Environments
.venv/
venv/
ENV/
env.bak/
venv.bak/
backend/.venv/


